@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: auto;
    font-family: 'Teko', sans-serif;
    box-sizing: border-box;
}

.footer {
    display: none;
}

/* main styling ends here */

@media only screen and (max-width:640px) {
    .link {
        display: none;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        font-size: 1.5em;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 10px;
        background-color: #fff;
    }

    .footer-ul {
        list-style-type: none;
        display: flex;
    }

    .footer-li {
        padding-right: 20px;
    }

    .footer-a {
        text-decoration: none;
        color: #000000;
    }

    .footer-a:hover {
        border-bottom: 3px solid #6B83FF;
    }
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width:640px) {
    .story-one, .story-two {
        margin-top: 30px;
        padding: 5px;
        flex: 100%;
        text-align: center;
    }
}